.favoritar {
    font-size: 19px;
    color: rgb(197, 197, 197);
    cursor: pointer;
}

.estaFavoritado {
    color: red;
}

.x-circle {
  font-size: 15px;
  color:grey;
  position: absolute;
  top: -2px;
  left: 30px;
  z-index: 1;
}

.x-circle:hover {
  color: red;
  cursor: pointer;
}
